/* Pet Details page styling */

@use "../../styles/partials/colors" as clrs;
@use "../../styles/partials/forms" as forms;
@use "../../styles/partials/mediaQ" as mQ;

.petDetails {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: auto;
	height: auto;
	padding: 1.5rem;
	flex: 1;

	@include mQ.tablet {
		width: 55%;
	}

	@include mQ.desktop {
		width: 35%;
	}

	&__group-wrapper {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
	}

	&__request {
		font-family: "Gill Sans";
		font-style: italic;
		color: clrs.$PetSpace-Med-Grey-text;
		padding-bottom: 0.75rem;
	}

	&__form {
		@extend .form;
	}

	&__form-group {
		@extend .form-group;
		flex-direction: column;

		&--dbl-col {
			width: 45%;
		}
	}

	&__button-container {
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin-top: auto;
	}
}
.error {
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
	padding-top: 0.25rem;
	align-items: center;

	&__icon {
		width: 1rem;
	}

	&__txt {
		font-size: 0.75rem;
	}
}
