/* Button Styling */
@use "../../styles/partials/colors" as clrs;
@use "../../styles/partials/mediaQ" as mQ;

.button-wrapper {
	text-decoration: none;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		cursor: pointer;
	}
}

.button {
	display: flex;

	&--mint {
		background-color: clrs.$PetSpace-Mint;
		color: clrs.$PetSpace-Black;
	}

	&--ice {
		background-color: clrs.$PetSpace-Ice;
		color: clrs.$PetSpace-Black;
	}

	&--light-grey {
		background-color: clrs.$PetSpace-LightGrey-80;
		color: clrs.$PetSpace-Med-Grey-text;
	}

	&--round {
		border-radius: 2rem;
	}

	&--straight {
		border-radius: 8px;
	}

	&--large {
		height: 3.125rem;
		padding: 0 2rem;

		@include mQ.tablet {
			padding: 0 6rem;
		}
	}

	&--small {
		height: 2.5rem;
		width: 8.5rem;
		padding: unset;
	}
}

.button-brdr {
	&--blue {
		border: 1px solid clrs.$PetSpace-Blue;
	}

	&--black {
		border: 1px solid clrs.$PetSpace-Black;
	}
}

.button-text {
	text-transform: capitalize;
	font-weight: bold;
	font-size: 1rem;

	@include mQ.tablet {
		font-size: 1.125rem;
	}
}
