/* Button Styling */
@use "../../styles/partials/colors" as clrs;

.button-wrapper {
	text-decoration: none;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		cursor: pointer;
	}
}

.button--mint {
	background-color: clrs.$PetSpace-Mint;
	color: clrs.$PetSpace-Black;
}

.button--dark {
	display: flex;
	background-color: #121212;
	color: #ffffff;
}

.button--light-grey {
	background-color: clrs.$PetSpace-LightGrey-80;
	color: clrs.$PetSpace-Med-Grey-text;
}

.button-brdr--blue {
	border: 1px solid clrs.$PetSpace-Blue;
}

.button-brdr--black {
	border: 1px solid clrs.$PetSpace-Black;
}

.button--round {
	border-radius: 2rem;
}

.button--straight {
	border-radius: 8px;
}

.button--large {
	height: 3.125rem;
}

.button--small {
	height: 2.5rem;
}

.button-text {
	padding: 0 2rem;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
