/* AI Assistant page styling */
@use "../../styles/partials/colors" as clrs;
@use "../../styles/partials/mediaQ" as mQ;

.assistant {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1rem;

	@include mQ.tablet {
		padding: 2rem 2rem;
	}

	&__button-container {
		width: 100%;
		margin: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		@include mQ.tablet {
			width: 50%;
		}

		@include mQ.desktop {
			width: 35%;
		}
	}

	&__img-wrapper {
		display: flex;
		margin: auto;
		width: 100%;
		padding-bottom: 1rem;

		@include mQ.tablet {
			width: 55%;
		}

		@include mQ.desktop {
			width: 25%;
		}
	}

	&__chat-image {
		width: 100%;
		height: 100%;
	}
}
