/* Search page styling */

@use "../../styles/partials/colors" as clrs;
@use "../../styles/partials/forms" as forms;
@use "../../styles/partials/mediaQ" as mQ;

.results-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: auto;
	height: auto;
	padding: 1.5rem;
	flex: 1;

	@include mQ.tablet {
		width: 50%;
	}

	@include mQ.desktop {
		width: 30%;
	}
}
