/* Colors */
/* Used for typography, components, branding and are
solid @ 100% opacity, unless stated otherwise */

/* Primary Colors*/
$PetSpace-Black: #000; // Primary text color
$PetSpace-Blue: #4b00fb; // Hamburger nav, form-field & chat bubble outline
$Silver: #afafaf; // Secondary text color. Text label color.
$White: #fff; // Primary background color
$PetSpace-Mint: #a6eeae; // Login CTA background color, user chat bubble background.
$PetSpace-Ice: #c9fbff; // Register CTA background color, AI chat bubble background
$PetSpace-Ice-20: rgba(201, 251, 255, 0.2);
$PetSpace-DarkGrey: #404347; // Footer background.
$PetSpace-LightGrey-80: rgba(240, 240, 240, 0.8); // AI Assistant button background
$PetSpace-Med-Grey-text: #888; // AI Assistant button text

/* Error Code colors */
$FormError: #d22d2d; // form validation error state color
