/**FONT STYLE**/

@font-face {
	font-family: "gill-sans-MT";
	font-style: normal;
	src: url(../../assets/fonts/gillsansmt.ttf) format("truetype");
}

@font-face {
	font-family: "gill-sans-MT";
	font-style: normal;
	src: url(../../assets/fonts/gillsanslightc.otf) format("opentype");
}

@font-face {
	font-family: "gill-sans-MT";
	font-style: italic;
	src: url(../../assets/fonts/gillsanslightc_italic.otf) format("opentype");
}
