/* Hamburger Menu styling */
@use "../../styles/partials/global" as g;

.hamburger {
	width: 2rem;
	height: 2rem;
	display: flex;
	padding-top: 10px;
	margin-left: 10px;
	justify-content: space-around;
	flex-flow: column nowrap;
	z-index: 10;

	@include g.tablet {
		display: none;
		z-index: -10;
	}
}

.burger {
	width: 2rem;
	height: 0.25rem;
	border-radius: 10px;
	background-color: g.$PetSpace-Black;
	transform-origin: 1px;
	transition: all 0.3s linear;
}
