/* Service Card Styling */
@use "../../styles/partials/colors" as clrs;
@use "../../styles/partials/mediaQ" as mQ;

.card {
	display: flex;
	width: 100%;
	flex-direction: row;
	margin: auto;

	@include mQ.tablet {
		width: 75%;
	}

	@include mQ.tablet {
		width: 55%;
	}

	&__icon {
		display: flex;
		width: 3.125rem;
		height: 3.125rem;
		margin-right: 1.75rem;
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding-right: 1rem;
	}

	&__service-title,
	&__service-text {
		line-height: 28px;
	}

	&__service-title {
		text-transform: capitalize;
		font-size: 1.125rem;
		font-weight: 600;

		@include mQ.tablet {
			font-size: 1.25rem;
		}
	}

	&__service-text {
		font-size: 1rem;
		margin-bottom: 2rem;

		@include mQ.tablet {
			font-size: 1.125rem;
		}
	}
}
