/* Header styling */

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 2rem;

	&__logo {
		display: flex;
		max-width: 12rem;

		img {
			width: 100%;
		}
	}
}
