@use "./styles/partials/global" as g;
@use "./styles/partials/colors" as clrs;

.petspace {
	display: flex;
	height: 100%;
	background-color: clrs.$White;
	flex-direction: column;
	min-height: 100vh;
}
